@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
.navbar-brand, h1, h2, h3, h4 {
    font-family: 'Nanum Gothic';
}
h5 {
    font-family: 'Nanum Gothic';
    font-size: 18px;
}
body {
    font-family: 'Nanum Gothic';
}